.gif{
    display: inline-block;
}

button{
    background-color: aqua;
    border-radius: 3px;
    margin: 5px;
}

#memes{
    width: 75%;
    min-height:1px;
    float: left;
}

form{
    max-width: 25%;
    float:left;
}